{% extends 'catalog/base.html'%}

{% block title %}Список продуктов{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Детали продукта</h2>
<p>Название: {{ product.name }}</p>
<p>Описание: {{ product.description | truncatechars:100 }}</p>
<p><img src="{{ product.image.url }}" alt="{{ product.name }}" width="300"></p>
<p>Цена: {{ product.price}}</p>
<p>Дата произхождения {{ product.created_at|date:"d M Y"}}</p>
<a href="{% url 'catalog:product_update' product.pk%}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'catalog:product_delete' product.pk%}" class="btn btn-danger">Удалить</a>
<a href="{% url 'catalog:product_list'%}" class="btn btn-primary">Вернуться к списку</a>
{% endblock %}

